node_modules
.next
.next-dev
out
dist
.vercel
.env*
!.env.example
.DS_Store
*.log
.idea
.vscode
coverage
tsconfig.tsbuildinfo
.env*.local

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/
android/captures/
android/local.properties
android/.idea/
android/app/release/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/capacitor-cordova-android-plugins/
*.iml
android/app/google-services.json
